.text{
    &__heading{
    font-size: 3rem;
   
    font-weight: 800; 
    letter-spacing: 0.1rem;
    }
    &__items{
        margin-top: 1.5rem;
        display: flex;
        font-size: 1.3rem;
        color: #585858;
        :not(:first-child){
            margin-left: 2rem;
        }

        .item:hover{
            color: blueviolet;
            font-weight: bolder;
           
            border-bottom: 2px solid blueviolet
        }
        
    }

}

